td{
	border: 1px solid  #E3E3E3;
	vertical-align: top;
	padding: 15px;
 }

 td ul{
    display: flex;
    flex-direction: column;
}
td ul li:not(:last-child){
   margin-bottom: 15px;
}
td ul li{
    display: flex;
}
td a{
    display: flex;
    flex-direction: column;
    color: #2782EE;
}
td a:not(:last-child){
    margin-bottom: 10px;
}
td a:last-child{
    color:#F44343;
}

.salary{
    margin-bottom: 10px;
}

.salary_flex{
    display: flex;
    justify-content: space-between;
}
.salary_flex img{
    width: 18px;
    height: 18px;
}
.salary_day{
    margin-bottom: 10px;
    font-size: 12px;
    color: #999999;
}

.add_salary-btn{
    width: 100%;
    font-size: 15px;
    color: #2782EE;

}
.btn_action{
    display: inline-block;
    width: 100%;
    color: #2782EE;
    background-color: white;
    
    cursor: pointer;
}
.btn_action:not(:last-child){
    margin-bottom: 17px;
}
.btn_delete{
    color: red;
}

.inputText {
    border: 1px solid red;
}
